.short-blog-link{
    text-decoration: none;
    color: var(--primary-black);
}
.short-blog-card{
    margin-bottom: 1rem
}
.short-blog-action{
    display: flex;
    margin-top: 0.3rem;
}
.blog-action-icon{
    color: var(--primary-black);
    margin-left: 1rem;
    cursor: pointer;
}
@media screen and (max-width:400px) {
    .short-blog-title{
        font-size: 1rem;
    }
    
}