.blog-details {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem 6rem;
}

.blog-content ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--primary-orange);
}

.blog-content > *::selection {
    color: white;
    background: var(--primary-orange);
}
.blog-content > * > *::selection {
    color: white;
    background: var(--primary-orange);
}
.blog-details-title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.blog-date-icon{
    margin-right: 0.75rem;
}
.blog-edit-text,.blog-date{
    font-size: 1rem;
}
.blog-publish-date{
    display: flex;
    align-items: center;
}
.blog-details-date {
    margin-right: 0.75rem;
}

.blog-details-date, .blog-edit {
    background: #F4F2F2;
    max-width: fit-content;
    padding: 0.5rem;
    border-radius: 7px;
}

.blog-details-img-wrap {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 2rem 0;
}

.blog-detail-img {
    max-width: 100%;
    max-height: 28rem;
}
.blog-details-content {
    margin: 1rem 0;
}

.blog-content>p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

strong {
    color: var(--primary-orange);
    font-size: 1.1rem;
}

.blog-content>h1,
h2 {
    margin-bottom: 1rem;
}

.blog-publish-detail {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.action-btn {
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-color: transparent;
    border-radius: 7px;
}

.edit-btn {
    /* background: #fcba03; */
    background: #DE0F0F;
}

.btn-icon {
    color: white;
}

.delete-btn {
    background: #8C0FDE;
}

.action-btn-text {
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .blog-details{
        padding: 1rem 4rem ;
    }
    .blog-author-detail{
        flex-basis: 90% !important;
    }
}
@media screen and (max-width: 900px) {
    .blog-details{
        padding: 1rem 3rem ;
    }
    .blog-author-detail{
        flex-basis: 95% !important;
    }
}
@media screen and (max-width: 760px) {
    .author-name{
        font-size: 1.3rem !important;
    }
    .blog-author-detail{
        padding: 2rem 1rem !important;
    }
}
@media screen and (max-width: 700px) {
    .blog-details{
        padding: 0.5rem ;
    }
    .blog-details-title{
        font-size: 2rem;
    }
    strong{
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 576px) {
    .blog-content>p {
        font-size: 1.1rem;
    }
    .author-name{
        font-size: 1.25rem !important;
    }
    .blog-author-detail{
       flex-basis: 100% !important;
    }
    .author-description{
        font-size: 0.9rem;
    }
    .blog-details{
        margin-top: 1rem;
    }
    .blog-author-detail{
        padding: 1rem !important;
    }
}