.password-management-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-pass-form{
    width: 50%;
}
.pass-input-wrap {
    position: relative;
    margin-bottom: 1rem;
}
.pass-input{
    padding: 0.5rem 1.75rem;
}
.submit-btn{
    width: fit-content;
}

@media screen and (max-width:1150px){
    .change-pass-form{
        width: 60%;
    }
}
@media screen and (max-width:850px){
    .change-pass-form{
        width: 75%;
    }
}
@media screen and (max-width:500px){
    .change-pass-form{
        width: 90%;
    }
}