.acc-field {
    margin: 0.5rem 0;
    position: relative;
    padding: 0.3rem 0;
    cursor: pointer;
}

.acc-field::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0;
    background: var(--primary-orange);
    transition-property: width;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.acc-field:hover::after{
    width: 100%;
}

.acc-data {
    display: inline-block;
    margin-left: 1rem;
}

.acc-data,
.acc-label {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}