.main-nav-header {
    overflow: visible;
    /* position: fixed; */
    width: 100% !important;
    background: white !important;
}

.main-nav {
    padding: 0.9rem 1rem;
    display: flex;
}

.main-nav-list {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.main-nav-item {
    list-style: none;
    position: relative;
    margin-right: 1.6rem;
    /* padding-bottom: 0.5em; */
}

.main-nav-link {
    text-decoration: none;
    color: var(--primary-black);
    font-size: 1.4rem;
}

.main-nav-item::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--primary-orange);
    position: absolute;
    margin-top: 0.5rem;
    transition-property: width;
    transition-duration: 0.3s;
    /* Properties added */
    bottom: -19%;
    left: 0;
}

.active-link::after {
    width: 100%;
}

.main-nav-item:hover::after {
    width: 100%;
}

.logo {
    color: var(--primary-black);
}

.logo-item {
    margin-right: auto !important;
}

.logo-item:hover {
    text-decoration: none;
}

.logo {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 2.4rem;
    font-weight: 700;
}

.toggle-menu {
    cursor: pointer;
    display: none;
    color: var(--primary-orange);
    font-size: 1.5rem;
    position: absolute;
    right: 10%;
    /* top: 13%; */
    margin-top: 0.3rem;
}

.nav-profile-wrap {
    cursor: pointer;
    position: relative;
}

.nav-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.dropdown-content {
    position: absolute;
    /* background-color: #f1f1f1; */
    background-color: var(--primary-orange);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0.4rem;
    padding: 0.75rem;
    min-width: 7rem;
}

.dropdown-item {
    /* color: #141b25; */
    color: #f1f1f1;
    text-decoration: none;
    margin: 0.3rem 0;
    font-size: 1rem;
    display: block;
}

.user-icon {
    color: var(--primary-black);
    font-size: 1rem;
}


@media screen and (max-width:980px) {
    .main-nav-header {
        padding: 0 6rem;
    }

    .dropdown-content {
        max-width: 6rem;
    }

    .logo {
        font-size: 2.2rem;
    }

    .dropdown-item {
        margin: 0.2rem 0;
        font-size: 0.9rem;
    }

}

@media screen and (max-width:810px) {
    .main-nav-header {
        padding: 0 4rem;
    }

    .logo {
        font-size: 2rem;
    }

    .main-nav-link {
        font-size: 1.2rem;
    }

    .main-nav-item {
        font-size: 1rem;
    }
}

@media screen and (max-width:690px) {
    .main-nav-header {
        padding: 0 2rem;
    }
}

@media screen and (max-width:576px) {
    .show-links {
        display: flex !important;
        height: 100% !important;
        width: 100% !important;
        padding: 0.5rem 0.75rem !important;
        transition-property: height;
        transition-duration: 1s;
        transition-timing-function: linear;
    }
}

@media screen and (max-width:576px) {
    .main-nav-link {
        display: flex !important;
        color: white;
        font-weight: 500;
    }

    .main-nav-list {
        margin-top: 0.3rem;
        flex-direction: column;
        border-radius: 5px;
        background: var(--primary-orange);
        align-items: flex-start;
        justify-content: center;
        height: 0;
        width: 0;
        display: none;
    }

    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .main-nav-header {
        padding: 0rem 2rem;
    }

    .main-nav-item {
        margin: 0.25rem 0;
    }

    .toggle-menu {
        display: block;
    }

    .user-icon {
        color: white;
    }

    .dropdown-content {
        background: #f1f1f1;
    }

    .dropdown-item {
        color: var(--primary-black);
    }
}