.modal-counter{
    color: var(--primary-orange);
}
.modal-icon{
    color: var(--primary-orange);
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}
.status-message{
    padding: 0.5rem 0.25rem;
    border-radius: 6px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    background: var(--primary-orange);
    min-width: 40%;
    margin-bottom: 1rem;
}
.status-message > p {
    color: white;
    text-align: center;
}
.error-message{
    background: #ff005c;
}
